In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [50]:
df = pd.read_csv(r'C:\Users\Atul\Documents\ds_salary_predictor\data.csv')
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

# To DO:
# salary parsing
# company name text only
# state field
# age of company
# parsing out job description (python,etc)

## 1.) Salary Parsing

In [52]:
''' Removing out rows with salary estimates as -1 '''
df = df[df['Salary Estimate']!='-1']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         742 non-null    int64
 1   Job Title          742 non-null    object
 2   Salary Estimate    742 non-null    object
 3   Job Description    742 non-null    object
 4   Rating             742 non-null    float64
 5   Company Name       742 non-null    object
 6   Location           742 non-null    object
 7   Headquarters       742 non-null    object
 8   Size               742 non-null    object
 9   Founded            742 non-null    int64
 10  Type of ownership  742 non-null    object
 11  Industry           742 non-null    object
 12  Sector             742 non-null    object
 13  Revenue            742 non-null    object
 14  Competitors        742 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 92.8+ KB

In [53]:
'''Removing the text from Salary Estimate column'''
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x:x.split('(')[0])
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [54]:
'''Removing dollar signs and K from the figures'''
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x:x.replace('K','').replace('$',''))
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [68]:
'''Checking if non-numeric data present in salary column still and yes "Employer Provided Salary" and "Per Hour rate" indicators still present
which we will separate out in distinct columns'''
salaries = df['Salary Estimate'].to_list()
pattern = re.compile(r'([0-9]{1,2}-[0-9]{1,3})(.*)')
for salary in salaries:
    if pattern.search(salary)!=None:
        print(pattern.search(salary).group(2))

Employer Provided Salary:150-160
Employer Provided Salary:120-145
Employer Provided Salary:200-250
Employer Provided Salary:200-250
Employer Provided Salary:85-90
Employer Provided Salary:25-28 Per Hour
Employer Provided Salary:100-140
Employer Provided Salary:150-160
Employer Provided Salary:110-130
Employer Provided Salary:25-28 Per Hour
Employer Provided Salary:100-140
Employer Provided Salary:100-135
Employer Provided Salary:110-130
Employer Provided Salary:120-145
Employer Provided Salary:120-140
Employer Provided Salary:25-28 Per Hour
Employer Provided Salary:100-140

In [71]:
df['Hourly'] = df['Salary Estimate'].apply(lambda x:1 if 'per hour' in x.lower() else 0)
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0

In [72]:
df['Employer Provided'] = df['Salary Estimate'].apply(lambda x:1 if 'employer provided salary' in x.lower() else 0)
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,Employer Provided
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0

In [73]:
df[(df['Employer Provided']==1) & (df['Hourly']==1)]

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,Employer Provided
464,464,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:25-28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\r\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1,1
694,694,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:25-28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\r\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1,1
936,936,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:25-28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\r\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1,1

In [82]:
'''Retaining only the numeric range values in the salary column'''
pattern = re.compile(r'[0-9]{1,3}-[0-9]{1,3}')
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x:pattern.search(x).group())
df.head(50)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,Employer Provided
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0
5,5,Data Scientist,71-119,CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\r\n3.4,"Dallas, TX","Dallas, TX",201 to 500 employees,2000,Company - Public,Real Estate,Real Estate,$1 to $2 billion (USD),"Digital Realty, CoreSite, Equinix",0,0
6,6,Data Scientist,54-93,Job Description\r\n\r\n**Please only local can...,4.1,ClearOne Advantage\r\n4.1,"Baltimore, MD","Baltimore, MD",501 to 1000 employees,2008,Company - Private,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1,0,0
7,7,Data Scientist,86-142,Advanced Analytics – Lead Data Scientist\r\nOv...,3.8,Logic20/20\r\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1,0,0
8,8,Research Scientist,38-84,SUMMARY\r\n\r\nThe Research Scientist I will b...,3.3,Rochester Regional Health\r\n3.3,"Rochester, NY","Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1,0,0
9,9,Data Scientist,120-160,isn’t your usual company. Our work is powered ...,4.6,<intent>\r\n4.6,"New York, NY","New York, NY",51 to 200 employees,2009,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Clicktripz, SmarterTravel",0,0
10,10,Data Scientist,126-201,"At Wish, our Data Science & Engineering team i...",3.5,Wish\r\n3.5,"San Jose, CA","San Francisco, CA",501 to 1000 employees,2011,Company - Private,Other Retail Stores,Retail,$1 to $2 billion (USD),-1,0,0
11,11,Data Scientist,64-106,"Secure our Nation, Ignite your Future\r\n\r\nS...",4.1,ManTech\r\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,0,0
12,12,Staff Data Scientist - Technology,106-172,Position Summary...\r\nDrives the execution of...,3.2,Walmart\r\n3.2,"Plano, TX","Bentonville, AR",10000+ employees,1962,Company - Public,"Department, Clothing, & Shoe Stores",Retail,$10+ billion (USD),"Target, Costco Wholesale, Amazon",0,0
13,13,Data Analyst,46-85,"Are you an experienced Data Analyst, skilled a...",4.1,Yesler\r\n4.1,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,0,0
14,14,Data Scientist,83-144,Job Description\r\n\r\n\r\nTakeda is looking f...,3.7,Takeda Pharmaceuticals\r\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Novartis, Baxter, Pfizer",0,0
15,15,Data Engineer I,102-190,This opportunity is within Audibles Data Engin...,3.6,Audible\r\n3.6,"Newark, NJ","Newark, NJ",1001 to 5000 employees,1995,Subsidiary or Business Segment,Motion Picture Production & Distribution,Media,Unknown / Non-Applicable,-1,0,0
16,16,"Scientist I/II, Biology",67-137,"Scientist I/II, Biology\r\n\r\nCambridge, MA\r...",3.9,Blueprint Medicines\r\n3.9,"Cambridge, MA","Cambridge, MA",51 to 200 employees,2011,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD),"bluebird bio, Agios Pharmaceuticals, Celgene",0,0
17,17,Customer Data Scientist,118-189,Company Overview\r\n\r\nH2O.ai is the open sou...,4.3,h2o.ai\r\n4.3,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2011,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
18,18,Data Scientist - Health Data Analytics,110-175,"At Nuna, our mission is to make high-quality h...",4.2,Nuna\r\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
19,19,Data Scientist,64-111,"Pinnacol Assurance does just one thing, and do...",4.0,Pinnacol Assurance\r\n4.0,"Denver, CO","Denver, CO",501 to 1000 employees,1915,Nonprofit Organization,Insurance Carriers,Insurance,$500 million to $1 billion (USD),-1,0,0
20,20,Data Scientist,81-130,About Our Team\r\n\r\nWe understand that the f...,3.2,Porch\r\n3.2,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Angie's List, HomeAdvisor, Thumbtack",0,0
21,21,Senior Data Scientist / Machine Learning,73-119,IMMEDIATE NEED FOR A SENIOR DATA SCIENTIST / M...,3.9,Health IQ\r\n3.9,"Dallas, TX","Mountain View, CA",201 to 500 employees,2013,Company - Private,Insurance Agencies & Brokerages,Insurance,Unknown / Non-Applicable,-1,0,0
22,22,Data Scientist - Quantitative,86-139,Truckstop.com is hiring a Data Scientist for o...,3.8,Truckstop.com\r\n3.8,"Chicago, IL","New Plymouth, ID",501 to 1000 employees,1995,Company - Private,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable,-1,0,0
23,23,Data Scientist,63-105,Position Summary\r\nOur Data Science team is c...,4.3,SMC 3\r\n4.3,"Louisville, KY","Peachtree City, GA",51 to 200 employees,1935,Nonprofit Organization,Logistics & Supply Chain,Transportation & Logistics,$10 to $25 million (USD),-1,0,0
25,25,Data Scientist,109-177,Are you passionate about solving challenging p...,4.0,Novetta\r\n4.0,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",0,0
26,26,Digital Health Data Scientist,63-110,ROLE SUMMARY\r\n\r\nThe Digital Health Data Sc...,4.0,Pfizer\r\n4.0,"Cambridge, MA","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0
27,27,Data Scientist,75-124,As the Enterprise Data and Analytics Center of...,3.5,First Tech Federal Credit Union\r\n3.5,"Hillsboro, OR","San Jose, CA",1001 to 5000 employees,1952,Company - Private,Banks & Credit Unions,Finance,$100 to $500 million (USD),-1,0,0
28,28,Associate Data Analyst,34-61,"Friday, January 17, 2020\r\n\r\nOur Enterprise...",3.7,The Hanover Insurance Group\r\n3.7,"Worcester, MA","Worcester, MA",5001 to 10000 employees,1852,Company - Public,Insurance Carriers,Insurance,$5 to $10 billion (USD),-1,0,0
29,29,Clinical Data Scientist,63-105,THIS ROLE MUST BE BASED IN SAN DIEGO\r\n\r\nAs...,4.0,Pfizer\r\n4.0,"Groton, CT","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0
30,30,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
31,31,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
32,32,Data Scientist,72-120,Preferred Qualifications\r\nMasters degree or ...,3.6,Amrock\r\n3.6,"Detroit, MI","Detroit, MI",1001 to 5000 employees,1997,Company - Private,Real Estate,Real Estate,$500 million to $1 billion (USD),-1,0,0
33,33,Data Scientist / Machine Learning Expert,86-143,Posting Title\r\nData Scientist / Machine Lear...,3.8,Novartis\r\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0
34,34,Data Scientist,93-149,"Title: Software Engineer, Data Science\r\n\r\n...",3.8,Juniper Networks\r\n3.8,"Sunnyvale, CA","Sunnyvale, CA",5001 to 10000 employees,1996,Company - Public,Telecommunications Services,Telecommunications,$2 to $5 billion (USD),-1,0,0
35,35,Data Scientist,85-140,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs\r\n4.7,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",0,0
36,36,Web Data Analyst,77-135,We are looking for a Web Data Analyst to assis...,4.2,Clarity Insights\r\n4.2,"San Jose, CA","Chicago, IL",201 to 500 employees,2008,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,0,0
37,37,Data Scientist,82-132,Overview\r\n\r\n\r\nAre you passionate about c...,3.5,Esri\r\n3.5,"Redlands, CA","Redlands, CA",1001 to 5000 employees,1969,Company - Private,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),Pitney Bowes,0,0
38,38,Data Scientist,83-137,STR is a government research contractor specia...,4.7,Systems & Technology Research\r\n4.7,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),-1,0,0
39,39,Senior Data Scientist,115-180,"Sartorius Stedim Data Analytics, a market lead...",3.5,Sartorius\r\n3.5,"Fremont, CA","Gottingen, Germany",5001 to 10000 employees,1870,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1,0,0
40,40,Data Engineer,74-138,Lancer Insurance Company is looking for a Data...,3.5,Lancer Insurance\r\n3.5,"Long Beach, NY","Long Beach, NY",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),-1,0,0
41,41,Data Analyst,64-112,About the Role:\r\n\r\nThe Data Analyst plays ...,4.2,Sauce Labs\r\n4.2,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),"BrowserStack, Selenium Master, Perfecto Mobile",0,0
43,43,Data Engineer,68-129,Position Title: Data Engineer\r\n\r\nPersivia ...,3.6,Persivia\r\n3.6,"Marlborough, MA","Lowell, MA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,0,0
44,44,Data Scientist - Algorithms & Inference,110-175,"At Nuna, our mission is to make high-quality h...",4.2,Nuna\r\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
45,45,Scientist,52-113,"We are a global team of 6000 visionaries, doer...",3.4,Edgewell Personal Care\r\n3.4,"Allendale, NJ","Shelton, CT",5001 to 10000 employees,2015,Company - Public,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD),"Unilever, Procter & Gamble, Henkel",0,0
46,46,Senior Data Scientist,110-150,"Working for Equity Residential (EQR), a leadin...",4.3,Equity Residential\r\n4.3,"Chicago, IL","Chicago, IL",1001 to 5000 employees,1993,Company - Public,Real Estate,Real Estate,$2 to $5 billion (USD),"UDR, AvalonBay Communities, Essex Property Trust",0,0
48,48,Data Scientist,150-160,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\r\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,1
49,49,Lead Data Scientist,158-211,As the world's leader in digital payments tech...,3.7,Visa Inc.\r\n3.7,"Bellevue, WA","Foster City, CA",10000+ employees,1958,Company - Public,IT Services,Information Technology,$10+ billion (USD),"American Express, Mastercard, Discover",0,0
50,50,Associate Data Analyst,20-39,Intrado is looking for an Associate Data Analy...,3.1,Intrado\r\n3.1,"Longmont, CO","Omaha, NE",5001 to 10000 employees,1986,Company - Private,Enterprise Software & Network Solutions,Information Technology,$2 to $5 billion (USD),-1,0,0
51,51,Spectral Scientist/Engineer,56-117,Thank you for your interest in joining the Cen...,4.7,Centauri\r\n4.7,"Beavercreek, OH","Chantilly, VA",501 to 1000 employees,1999,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),"TASC, Vencore, Booz Allen Hamilton",0,0
52,52,College Hire - Data Scientist - Open to Decemb...,63-99,Description\r\n\r\nCaterpillar's legacy of ind...,3.7,Caterpillar\r\n3.7,"Peoria, IL","Deerfield, IL",10000+ employees,1925,Company - Public,Industrial Manufacturing,Manufacturing,$10+ billion (USD),"John Deere, Komatsu, CNH Industrial",0,0

In [85]:
'''Create a column for minimum salary i.e. first number of range and a column for max salary i.e. second number of the range'''

df['min salary'] = df['Salary Estimate'].apply(lambda x:x.split('-')[0])
df['max salary'] = df['Salary Estimate'].apply(lambda x:x.split('-')[1])
df.head(50)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,Employer Provided,min salary,max salary
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143
5,5,Data Scientist,71-119,CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\r\n3.4,"Dallas, TX","Dallas, TX",201 to 500 employees,2000,Company - Public,Real Estate,Real Estate,$1 to $2 billion (USD),"Digital Realty, CoreSite, Equinix",0,0,71,119
6,6,Data Scientist,54-93,Job Description\r\n\r\n**Please only local can...,4.1,ClearOne Advantage\r\n4.1,"Baltimore, MD","Baltimore, MD",501 to 1000 employees,2008,Company - Private,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1,0,0,54,93
7,7,Data Scientist,86-142,Advanced Analytics – Lead Data Scientist\r\nOv...,3.8,Logic20/20\r\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1,0,0,86,142
8,8,Research Scientist,38-84,SUMMARY\r\n\r\nThe Research Scientist I will b...,3.3,Rochester Regional Health\r\n3.3,"Rochester, NY","Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1,0,0,38,84
9,9,Data Scientist,120-160,isn’t your usual company. Our work is powered ...,4.6,<intent>\r\n4.6,"New York, NY","New York, NY",51 to 200 employees,2009,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Clicktripz, SmarterTravel",0,0,120,160
10,10,Data Scientist,126-201,"At Wish, our Data Science & Engineering team i...",3.5,Wish\r\n3.5,"San Jose, CA","San Francisco, CA",501 to 1000 employees,2011,Company - Private,Other Retail Stores,Retail,$1 to $2 billion (USD),-1,0,0,126,201
11,11,Data Scientist,64-106,"Secure our Nation, Ignite your Future\r\n\r\nS...",4.1,ManTech\r\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,0,0,64,106
12,12,Staff Data Scientist - Technology,106-172,Position Summary...\r\nDrives the execution of...,3.2,Walmart\r\n3.2,"Plano, TX","Bentonville, AR",10000+ employees,1962,Company - Public,"Department, Clothing, & Shoe Stores",Retail,$10+ billion (USD),"Target, Costco Wholesale, Amazon",0,0,106,172
13,13,Data Analyst,46-85,"Are you an experienced Data Analyst, skilled a...",4.1,Yesler\r\n4.1,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,0,0,46,85
14,14,Data Scientist,83-144,Job Description\r\n\r\n\r\nTakeda is looking f...,3.7,Takeda Pharmaceuticals\r\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Novartis, Baxter, Pfizer",0,0,83,144
15,15,Data Engineer I,102-190,This opportunity is within Audibles Data Engin...,3.6,Audible\r\n3.6,"Newark, NJ","Newark, NJ",1001 to 5000 employees,1995,Subsidiary or Business Segment,Motion Picture Production & Distribution,Media,Unknown / Non-Applicable,-1,0,0,102,190
16,16,"Scientist I/II, Biology",67-137,"Scientist I/II, Biology\r\n\r\nCambridge, MA\r...",3.9,Blueprint Medicines\r\n3.9,"Cambridge, MA","Cambridge, MA",51 to 200 employees,2011,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD),"bluebird bio, Agios Pharmaceuticals, Celgene",0,0,67,137
17,17,Customer Data Scientist,118-189,Company Overview\r\n\r\nH2O.ai is the open sou...,4.3,h2o.ai\r\n4.3,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2011,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0,118,189
18,18,Data Scientist - Health Data Analytics,110-175,"At Nuna, our mission is to make high-quality h...",4.2,Nuna\r\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0,110,175
19,19,Data Scientist,64-111,"Pinnacol Assurance does just one thing, and do...",4.0,Pinnacol Assurance\r\n4.0,"Denver, CO","Denver, CO",501 to 1000 employees,1915,Nonprofit Organization,Insurance Carriers,Insurance,$500 million to $1 billion (USD),-1,0,0,64,111
20,20,Data Scientist,81-130,About Our Team\r\n\r\nWe understand that the f...,3.2,Porch\r\n3.2,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Angie's List, HomeAdvisor, Thumbtack",0,0,81,130
21,21,Senior Data Scientist / Machine Learning,73-119,IMMEDIATE NEED FOR A SENIOR DATA SCIENTIST / M...,3.9,Health IQ\r\n3.9,"Dallas, TX","Mountain View, CA",201 to 500 employees,2013,Company - Private,Insurance Agencies & Brokerages,Insurance,Unknown / Non-Applicable,-1,0,0,73,119
22,22,Data Scientist - Quantitative,86-139,Truckstop.com is hiring a Data Scientist for o...,3.8,Truckstop.com\r\n3.8,"Chicago, IL","New Plymouth, ID",501 to 1000 employees,1995,Company - Private,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable,-1,0,0,86,139
23,23,Data Scientist,63-105,Position Summary\r\nOur Data Science team is c...,4.3,SMC 3\r\n4.3,"Louisville, KY","Peachtree City, GA",51 to 200 employees,1935,Nonprofit Organization,Logistics & Supply Chain,Transportation & Logistics,$10 to $25 million (USD),-1,0,0,63,105
25,25,Data Scientist,109-177,Are you passionate about solving challenging p...,4.0,Novetta\r\n4.0,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",0,0,109,177
26,26,Digital Health Data Scientist,63-110,ROLE SUMMARY\r\n\r\nThe Digital Health Data Sc...,4.0,Pfizer\r\n4.0,"Cambridge, MA","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0,63,110
27,27,Data Scientist,75-124,As the Enterprise Data and Analytics Center of...,3.5,First Tech Federal Credit Union\r\n3.5,"Hillsboro, OR","San Jose, CA",1001 to 5000 employees,1952,Company - Private,Banks & Credit Unions,Finance,$100 to $500 million (USD),-1,0,0,75,124
28,28,Associate Data Analyst,34-61,"Friday, January 17, 2020\r\n\r\nOur Enterprise...",3.7,The Hanover Insurance Group\r\n3.7,"Worcester, MA","Worcester, MA",5001 to 10000 employees,1852,Company - Public,Insurance Carriers,Insurance,$5 to $10 billion (USD),-1,0,0,34,61
29,29,Clinical Data Scientist,63-105,THIS ROLE MUST BE BASED IN SAN DIEGO\r\n\r\nAs...,4.0,Pfizer\r\n4.0,"Groton, CT","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0,63,105
30,30,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90
31,31,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97
32,32,Data Scientist,72-120,Preferred Qualifications\r\nMasters degree or ...,3.6,Amrock\r\n3.6,"Detroit, MI","Detroit, MI",1001 to 5000 employees,1997,Company - Private,Real Estate,Real Estate,$500 million to $1 billion (USD),-1,0,0,72,120
33,33,Data Scientist / Machine Learning Expert,86-143,Posting Title\r\nData Scientist / Machine Lear...,3.8,Novartis\r\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0,86,143
34,34,Data Scientist,93-149,"Title: Software Engineer, Data Science\r\n\r\n...",3.8,Juniper Networks\r\n3.8,"Sunnyvale, CA","Sunnyvale, CA",5001 to 10000 employees,1996,Company - Public,Telecommunications Services,Telecommunications,$2 to $5 billion (USD),-1,0,0,93,149
35,35,Data Scientist,85-140,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs\r\n4.7,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",0,0,85,140
36,36,Web Data Analyst,77-135,We are looking for a Web Data Analyst to assis...,4.2,Clarity Insights\r\n4.2,"San Jose, CA","Chicago, IL",201 to 500 employees,2008,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,0,0,77,135
37,37,Data Scientist,82-132,Overview\r\n\r\n\r\nAre you passionate about c...,3.5,Esri\r\n3.5,"Redlands, CA","Redlands, CA",1001 to 5000 employees,1969,Company - Private,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),Pitney Bowes,0,0,82,132
38,38,Data Scientist,83-137,STR is a government research contractor specia...,4.7,Systems & Technology Research\r\n4.7,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),-1,0,0,83,137
39,39,Senior Data Scientist,115-180,"Sartorius Stedim Data Analytics, a market lead...",3.5,Sartorius\r\n3.5,"Fremont, CA","Gottingen, Germany",5001 to 10000 employees,1870,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1,0,0,115,180
40,40,Data Engineer,74-138,Lancer Insurance Company is looking for a Data...,3.5,Lancer Insurance\r\n3.5,"Long Beach, NY","Long Beach, NY",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),-1,0,0,74,138
41,41,Data Analyst,64-112,About the Role:\r\n\r\nThe Data Analyst plays ...,4.2,Sauce Labs\r\n4.2,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),"BrowserStack, Selenium Master, Perfecto Mobile",0,0,64,112
43,43,Data Engineer,68-129,Position Title: Data Engineer\r\n\r\nPersivia ...,3.6,Persivia\r\n3.6,"Marlborough, MA","Lowell, MA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,0,0,68,129
44,44,Data Scientist - Algorithms & Inference,110-175,"At Nuna, our mission is to make high-quality h...",4.2,Nuna\r\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0,110,175
45,45,Scientist,52-113,"We are a global team of 6000 visionaries, doer...",3.4,Edgewell Personal Care\r\n3.4,"Allendale, NJ","Shelton, CT",5001 to 10000 employees,2015,Company - Public,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD),"Unilever, Procter & Gamble, Henkel",0,0,52,113
46,46,Senior Data Scientist,110-150,"Working for Equity Residential (EQR), a leadin...",4.3,Equity Residential\r\n4.3,"Chicago, IL","Chicago, IL",1001 to 5000 employees,1993,Company - Public,Real Estate,Real Estate,$2 to $5 billion (USD),"UDR, AvalonBay Communities, Essex Property Trust",0,0,110,150
48,48,Data Scientist,150-160,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\r\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,1,150,160
49,49,Lead Data Scientist,158-211,As the world's leader in digital payments tech...,3.7,Visa Inc.\r\n3.7,"Bellevue, WA","Foster City, CA",10000+ employees,1958,Company - Public,IT Services,Information Technology,$10+ billion (USD),"American Express, Mastercard, Discover",0,0,158,211
50,50,Associate Data Analyst,20-39,Intrado is looking for an Associate Data Analy...,3.1,Intrado\r\n3.1,"Longmont, CO","Omaha, NE",5001 to 10000 employees,1986,Company - Private,Enterprise Software & Network Solutions,Information Technology,$2 to $5 billion (USD),-1,0,0,20,39
51,51,Spectral Scientist/Engineer,56-117,Thank you for your interest in joining the Cen...,4.7,Centauri\r\n4.7,"Beavercreek, OH","Chantilly, VA",501 to 1000 employees,1999,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),"TASC, Vencore, Booz Allen Hamilton",0,0,56,117
52,52,College Hire - Data Scientist - Open to Decemb...,63-99,Description\r\n\r\nCaterpillar's legacy of ind...,3.7,Caterpillar\r\n3.7,"Peoria, IL","Deerfield, IL",10000+ employees,1925,Company - Public,Industrial Manufacturing,Manufacturing,$10+ billion (USD),"John Deere, Komatsu, CNH Industrial",0,0,63,99

In [88]:
'''We will use the avg salary as our dependant variable'''
df['avg salary'] = (df['min salary'].astype('int64') + df['max salary'].astype('int64'))/2
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,Employer Provided,min salary,max salary,avg salary
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5

## 2.) Extracting out just the company name

In [97]:
'''If a company has a negative rating then rating is not included in the name and if it is >1 then the rating is also 
included at the end of the name so we remove the last 4 characters in that case'''
df['Company Name Text'] = df.apply(lambda x:x['Company Name'] if x['Rating']<0 else x['Company Name'][:-5], axis=1)
df.head(50)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,Hourly,Employer Provided,min salary,max salary,avg salary,Company Name Text
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Research
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical System
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions
5,5,Data Scientist,71-119,CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\r\n3.4,"Dallas, TX","Dallas, TX",201 to 500 employees,2000,...,Real Estate,Real Estate,$1 to $2 billion (USD),"Digital Realty, CoreSite, Equinix",0,0,71,119,95.0,CyrusOne
6,6,Data Scientist,54-93,Job Description\r\n\r\n**Please only local can...,4.1,ClearOne Advantage\r\n4.1,"Baltimore, MD","Baltimore, MD",501 to 1000 employees,2008,...,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1,0,0,54,93,73.5,ClearOne Advantage
7,7,Data Scientist,86-142,Advanced Analytics – Lead Data Scientist\r\nOv...,3.8,Logic20/20\r\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,...,Consulting,Business Services,$25 to $50 million (USD),-1,0,0,86,142,114.0,Logic20/20
8,8,Research Scientist,38-84,SUMMARY\r\n\r\nThe Research Scientist I will b...,3.3,Rochester Regional Health\r\n3.3,"Rochester, NY","Rochester, NY",10000+ employees,2014,...,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1,0,0,38,84,61.0,Rochester Regional Health
9,9,Data Scientist,120-160,isn’t your usual company. Our work is powered ...,4.6,<intent>\r\n4.6,"New York, NY","New York, NY",51 to 200 employees,2009,...,Internet,Information Technology,$100 to $500 million (USD),"Clicktripz, SmarterTravel",0,0,120,160,140.0,<intent>
10,10,Data Scientist,126-201,"At Wish, our Data Science & Engineering team i...",3.5,Wish\r\n3.5,"San Jose, CA","San Francisco, CA",501 to 1000 employees,2011,...,Other Retail Stores,Retail,$1 to $2 billion (USD),-1,0,0,126,201,163.5,Wish
11,11,Data Scientist,64-106,"Secure our Nation, Ignite your Future\r\n\r\nS...",4.1,ManTech\r\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,Research & Development,Business Services,$1 to $2 billion (USD),-1,0,0,64,106,85.0,ManTech
12,12,Staff Data Scientist - Technology,106-172,Position Summary...\r\nDrives the execution of...,3.2,Walmart\r\n3.2,"Plano, TX","Bentonville, AR",10000+ employees,1962,...,"Department, Clothing, & Shoe Stores",Retail,$10+ billion (USD),"Target, Costco Wholesale, Amazon",0,0,106,172,139.0,Walmart
13,13,Data Analyst,46-85,"Are you an experienced Data Analyst, skilled a...",4.1,Yesler\r\n4.1,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,0,0,46,85,65.5,Yesler
14,14,Data Scientist,83-144,Job Description\r\n\r\n\r\nTakeda is looking f...,3.7,Takeda Pharmaceuticals\r\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Novartis, Baxter, Pfizer",0,0,83,144,113.5,Takeda Pharmaceuticals
15,15,Data Engineer I,102-190,This opportunity is within Audibles Data Engin...,3.6,Audible\r\n3.6,"Newark, NJ","Newark, NJ",1001 to 5000 employees,1995,...,Motion Picture Production & Distribution,Media,Unknown / Non-Applicable,-1,0,0,102,190,146.0,Audible
16,16,"Scientist I/II, Biology",67-137,"Scientist I/II, Biology\r\n\r\nCambridge, MA\r...",3.9,Blueprint Medicines\r\n3.9,"Cambridge, MA","Cambridge, MA",51 to 200 employees,2011,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD),"bluebird bio, Agios Pharmaceuticals, Celgene",0,0,67,137,102.0,Blueprint Medicines
17,17,Customer Data Scientist,118-189,Company Overview\r\n\r\nH2O.ai is the open sou...,4.3,h2o.ai\r\n4.3,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2011,...,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0,118,189,153.5,h2o.ai
18,18,Data Scientist - Health Data Analytics,110-175,"At Nuna, our mission is to make high-quality h...",4.2,Nuna\r\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,...,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0,110,175,142.5,Nuna
19,19,Data Scientist,64-111,"Pinnacol Assurance does just one thing, and do...",4.0,Pinnacol Assurance\r\n4.0,"Denver, CO","Denver, CO",501 to 1000 employees,1915,...,Insurance Carriers,Insurance,$500 million to $1 billion (USD),-1,0,0,64,111,87.5,Pinnacol Assurance
20,20,Data Scientist,81-130,About Our Team\r\n\r\nWe understand that the f...,3.2,Porch\r\n3.2,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,...,Internet,Information Technology,Unknown / Non-Applicable,"Angie's List, HomeAdvisor, Thumbtack",0,0,81,130,105.5,Porch
21,21,Senior Data Scientist / Machine Learning,73-119,IMMEDIATE NEED FOR A SENIOR DATA SCIENTIST / M...,3.9,Health IQ\r\n3.9,"Dallas, TX","Mountain View, CA",201 to 500 employees,2013,...,Insurance Agencies & Brokerages,Insurance,Unknown / Non-Applicable,-1,0,0,73,119,96.0,Health IQ
22,22,Data Scientist - Quantitative,86-139,Truckstop.com is hiring a Data Scientist for o...,3.8,Truckstop.com\r\n3.8,"Chicago, IL","New Plymouth, ID",501 to 1000 employees,1995,...,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable,-1,0,0,86,139,112.5,Truckstop.com
23,23,Data Scientist,63-105,Position Summary\r\nOur Data Science team is c...,4.3,SMC 3\r\n4.3,"Louisville, KY","Peachtree City, GA",51 to 200 employees,1935,...,Logistics & Supply Chain,Transportation & Logistics,$10 to $25 million (USD),-1,0,0,63,105,84.0,SMC 3
25,25,Data Scientist,109-177,Are you passionate about solving challenging p...,4.0,Novetta\r\n4.0,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,...,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",0,0,109,177,143.0,Novetta
26,26,Digital Health Data Scientist,63-110,ROLE SUMMARY\r\n\r\nThe Digital Health Data Sc...,4.0,Pfizer\r\n4.0,"Cambridge, MA","New York, NY",10000+ employees,1849,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0,63,110,86.5,Pfizer
27,27,Data Scientist,75-124,As the Enterprise Data and Analytics Center of...,3.5,First Tech Federal Credit Union\r\n3.5,"Hillsboro, OR","San Jose, CA",1001 to 5000 employees,1952,...,Banks & Credit Unions,Finance,$100 to $500 million (USD),-1,0,0,75,124,99.5,First Tech Federal Credit Union
28,28,Associate Data Analyst,34-61,"Friday, January 17, 2020\r\n\r\nOur Enterprise...",3.7,The Hanover Insurance Group\r\n3.7,"Worcester, MA","Worcester, MA",5001 to 10000 employees,1852,...,Insurance Carriers,Insurance,$5 to $10 billion (USD),-1,0,0,34,61,47.5,The Hanover Insurance Group
29,29,Clinical Data Scientist,63-105,THIS ROLE MUST BE BASED IN SAN DIEGO\r\n\r\nAs...,4.0,Pfizer\r\n4.0,"Groton, CT","New York, NY",10000+ employees,1849,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0,63,105,84.0,Pfizer
30,30,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4
31,31,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL
32,32,Data Scientist,72-120,Preferred Qualifications\r\nMasters degree or ...,3.6,Amrock\r\n3.6,"Detroit, MI","Detroit, MI",1001 to 5000 employees,1997,...,Real Estate,Real Estate,$500 million to $1 billion (USD),-1,0,0,72,120,96.0,Amrock
33,33,Data Scientist / Machine Learning Expert,86-143,Posting Title\r\nData Scientist / Machine Lear...,3.8,Novartis\r\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0,86,143,114.5,Novartis
34,34,Data Scientist,93-149,"Title: Software Engineer, Data Science\r\n\r\n...",3.8,Juniper Networks\r\n3.8,"Sunnyvale, CA","Sunnyvale, CA",5001 to 10000 employees,1996,...,Telecommunications Services,Telecommunications,$2 to $5 billion (USD),-1,0,0,93,149,121.0,Juniper Networks
35,35,Data Scientist,85-140,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs\r\n4.7,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",0,0,85,140,112.5,New England Biolabs
36,36,Web Data Analyst,77-135,We are looking for a Web Data Analyst to assis...,4.2,Clarity Insights\r\n4.2,"San Jose, CA","Chicago, IL",201 to 500 employees,2008,...,IT Services,Information Technology,Unknown / Non-Applicable,-1,0,0,77,135,106.0,Clarity Insights
37,37,Data Scientist,82-132,Overview\r\n\r\n\r\nAre you passionate about c...,3.5,Esri\r\n3.5,"Redlands, CA","Redlands, CA",1001 to 5000 employees,1969,...,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),Pitney Bowes,0,0,82,132,107.0,Esri
38,38,Data Scientist,83-137,STR is a government research contractor specia...,4.7,Systems & Technology Research\r\n4.7,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,...,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),-1,0,0,83,137,110.0,Systems & Technology Research
39,39,Senior Data Scientist,115-180,"Sartorius Stedim Data Analytics, a market lead...",3.5,Sartorius\r\n3.5,"Fremont, CA","Gottingen, Germany",5001 to 10000 employees,1870,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1,0,0,115,180,147.5,Sartorius
40,40,Data Engineer,74-138,Lancer Insurance Company is looking for a Data...,3.5,Lancer Insurance\r\n3.5,"Long Beach, NY","Long Beach, NY",201 to 500 employees,1985,...,Insurance Carriers,Insurance,$100 to $500 million (USD),-1,0,0,74,138,106.0,Lancer Insurance
41,41,Data Analyst,64-112,About the Role:\r\n\r\nThe Data Analyst plays ...,4.2,Sauce Labs\r\n4.2,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2008,...,IT Services,Information Technology,$50 to $100 million (USD),"BrowserStack, Selenium Master, Perfecto Mobile",0,0,64,112,88.0,Sauce Labs
43,43,Data Engineer,68-129,Position Title: Data Engineer\r\n\r\nPersivia ...,3.6,Persivia\r\n3.6,"Marlborough, MA","Lowell, MA",1 to 50 employees,-1,...,-1,-1,Less than $1 million (USD),-1,0,0,68,129,98.5,Persivia
44,44,Data Scientist - Algorithms & Inference,110-175,"At Nuna, our mission is to make high-quality h...",4.2,Nuna\r\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,...,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0,110,175,142.5,Nuna
45,45,Scientist,52-113,"We are a global team of 6000 visionaries, doer...",3.4,Edgewell Personal Care\r\n3.4,"Allendale, NJ","Shelton, CT",5001 to 10000 employees,2015,...,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD),"Unilever, Procter & Gamble, Henkel",0,0,52,113,82.5,Edgewell Personal Care
46,46,Senior Data Scientist,110-150,"Working for Equity Residential (EQR), a leadin...",4.3,Equity Residential\r\n4.3,"Chicago, IL","Chicago, IL",1001 to 5000 employees,1993,...,Real Estate,Real Estate,$2 to $5 billion (USD),"UDR, AvalonBay Communities, Essex Property Trust",0,0,110,150,130.0,Equity Residential
48,48,Data Scientist,150-160,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\r\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,...,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,1,150,160,155.0,BPA Services
49,49,Lead Data Scientist,158-211,As the world's leader in digital payments tech...,3.7,Visa Inc.\r\n3.7,"Bellevue, WA","Foster City, CA",10000+ employees,1958,...,IT Services,Information Technology,$10+ billion (USD),"American Express, Mastercard, Discover",0,0,158,211,184.5,Visa Inc.
50,50,Associate Data Analyst,20-39,Intrado is looking for an Associate Data Analy...,3.1,Intrado\r\n3.1,"Longmont, CO","Omaha, NE",5001 to 10000 employees,1986,...,Enterprise Software & Network Solutions,Information Technology,$2 to $5 billion (USD),-1,0,0,20,39,29.5,Intrado
51,51,Spectral Scientist/Engineer,56-117,Thank you for your interest in joining the Cen...,4.7,Centauri\r\n4.7,"Beavercreek, OH","Chantilly, VA",501 to 1000 employees,1999,...,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),"TASC, Vencore, Booz Allen Hamilton",0,0,56,117,86.5,Centauri
52,52,College Hire - Data Scientist - Open to Decemb...,63-99,Description\r\n\r\nCaterpillar's legacy of ind...,3.7,Caterpillar\r\n3.7,"Peoria, IL","Deerfield, IL",10000+ employees,1925,...,Industrial Manufacturing,Manufacturing,$10+ billion (USD),"John Deere, Komatsu, CNH Industrial",0,0,63,99,81.0,Caterpillar

## 3.) Create a State column

In [121]:
df['Job State'] = df['Location'].apply(lambda x:x.split(',')[1] if x.count(',')==1 else x.split(',')[2])  #since some locations are of format district,city,state
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Sector,Revenue,Competitors,Hourly,Employer Provided,min salary,max salary,avg salary,Company Name Text,Job State
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Research,NM
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical System,MD
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4,FL
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL,WA
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions,NY

In [122]:
'''to validate if no anomolous data present or not'''
df['Job State'].value_counts()

 CA    152
 MA    103
 NY     72
 VA     41
 IL     40
 MD     35
 PA     33
 TX     28
 NC     21
 WA     21
 NJ     17
 FL     16
 OH     14
 TN     13
 DC     11
 CO     11
 WI     10
 UT     10
 IN     10
 AZ      9
 MO      9
 AL      8
 GA      6
 DE      6
 KY      6
 MI      6
 CT      5
 IA      5
 LA      4
 OR      4
 NE      4
 NM      3
 KS      3
 ID      2
 MN      2
 RI      1
 SC      1
Name: Job State, dtype: int64

In [123]:
'''New column indicating if the job location is at the headquarters'''
df['same state'] = df.apply(lambda x:1 if x['Location']==x['Headquarters'] else 0, axis=1)
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Revenue,Competitors,Hourly,Employer Provided,min salary,max salary,avg salary,Company Name Text,Job State,same state
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Research,NM,0
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical System,MD,0
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4,FL,1
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL,WA,1
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions,NY,1

## 4.) Age of the company in years from present year

In [125]:
df['age of company'] = df['Founded'].apply(lambda x:2022-x if x>1 else x)
df['age of company'].value_counts()

-1      50
 12     32
 14     31
 26     27
 16     24
        ..
 162     1
 80      1
 144     1
 51      1
 133     1
Name: age of company, Length: 102, dtype: int64

## 5.) Parsing out job description descriptors

In [130]:
'''Check presence of keywords like Python, r studio, aws, excel, spark in job description'''
df['python_yn'] = df['Job Description'].apply(lambda x:1 if 'python' in x.lower() else 0)
df[df['python_yn']==1]['Job Description'].iloc[4]

"Data Scientist\r\nAffinity Solutions / Marketing Cloud seeks smart, curious, technically savvy candidates to join our cutting-edge data science team. We hire the best and brightest and give them the opportunity to work on industry-leading technologies.\r\nThe data sciences team at AFS/Marketing Cloud build models, machine learning algorithms that power all our ad-tech/mar-tech products at scale, develop methodology and tools to precisely and effectively measure market campaign effects, and research in-house and public data sources for consumer spend behavior insights. In this role, you'll have the opportunity to come up with new ideas and solutions that will lead to improvement of our ability to target the right audience, derive insights and provide better measurement methodology for marketing campaigns. You'll access our core data asset and machine learning infrastructure to power your ideas.\r\nDuties and Responsibilities\r\n· Support all clients model building needs, including maintaining and improving current modeling/scoring methodology and processes,\r\n· Provide innovative solutions to customized modeling/scoring/targeting with appropriate ML/statistical tools,\r\n· Provide analytical/statistical support such as marketing test design, projection, campaign measurement, market insights to clients and stakeholders.\r\n· Mine large consumer datasets in the cloud environment to support ad hoc business and statistical analysis,\r\n· Develop and Improve automation capabilities to enable customized delivery of the analytical products to clients,\r\n· Communicate the methodologies and the results to the management, clients and none technical stakeholders.\r\nBasic Qualifications\r\n· Advanced degree in Statistics/Mathematics/Computer Science/Economics or other fields that requires advanced training in data analytics.\r\n· Being able to apply basic statistical/ML concepts and reasoning to address and solve business problems such as targeting, test design, KPI projection and performance measurement.\r\n· Entrepreneurial, highly self-motivated, collaborative, keen attention to detail, willingness and capable learn quickly, and ability to effectively prioritize and execute tasks in a high pressure environment.\r\n· Being flexible to accept different task assignments and able to work on a tight time schedule.\r\n· Excellent command of one or more programming languages; preferably Python, SAS or R\r\n· Familiar with one of the database technologies such as PostgreSQL, MySQL, can write basic SQL queries\r\n· Great communication skills (verbal, written and presentation)\r\nPreferred Qualifications\r\n· Experience or exposure to large consumer and/or demographic data sets.\r\n· Familiarity with data manipulation and cleaning routines and techniques."

In [131]:
df['python_yn'].value_counts()

1    392
0    350
Name: python_yn, dtype: int64

In [132]:
df['R_yn'] = df['Job Description'].apply(lambda x:1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['R_yn'].value_counts()

0    740
1      2
Name: R_yn, dtype: int64

In [133]:
df['aws_yn'] = df['Job Description'].apply(lambda x:1 if 'aws' in x.lower() else 0)
df['aws_yn'].value_counts()

0    566
1    176
Name: aws_yn, dtype: int64

In [134]:
df['excel_yn'] = df['Job Description'].apply(lambda x:1 if 'excel' in x.lower() else 0)
df['excel_yn'].value_counts()

1    388
0    354
Name: excel_yn, dtype: int64

In [135]:
df['spark_yn'] = df['Job Description'].apply(lambda x:1 if 'spark' in x.lower() else 0)
df['spark_yn'].value_counts()

0    575
1    167
Name: spark_yn, dtype: int64

In [136]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,avg salary,Company Name Text,Job State,same state,age of company,python_yn,R_yn,aws_yn,excel_yn,spark_yn
0,0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,72.0,Tecolote Research,NM,0,49,1,0,0,1,0
1,1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,87.5,University of Maryland Medical System,MD,0,38,1,0,0,0,0
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,85.0,KnowBe4,FL,1,12,1,0,0,1,1
3,3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,76.5,PNNL,WA,1,57,1,0,0,0,0
4,4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,114.5,Affinity Solutions,NY,1,24,1,0,0,1,0

In [138]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg salary,Company Name Text,Job State,same state,age of company,python_yn,R_yn,aws_yn,excel_yn,spark_yn
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research,NM,0,49,1,0,0,1,0
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System,MD,0,38,1,0,0,0,0
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4,FL,1,12,1,0,0,1,1
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL,WA,1,57,1,0,0,0,0
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions,NY,1,24,1,0,0,1,0

## Save this cleaned dataframe to a new csv to be used for further steps

In [139]:
df.to_csv('cleaned_data.csv',index=False)